@font-face {
    font-family: nailao;
    src: url('../fonts/renjiannailaobianlidian.ttf'), url('../fonts/renjiannailaobianlidian.woff')
}

:root {
    --body-color: aliceblue;
    --cb-color: #fff;
    --header1-color: #a07bdb;
    --header2-color: #bfe783;
    --header3-color: #dfdc5e;
    --header4-color: #94542e;
    --header5-color: #fa4e82;
    --headerxxhd-color: #b191b93b;
    --headersearch-color: #ffffffd5;
    --searchipt-color: #589097;
    --header6-color: #003aa53b;
    --articlezd-color: #96e5eb;
    --articlezd2-color: #16f1bb;
}

html {
    margin: 0 auto;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: lightblue;
    border-radius: 15px;
}

body::-webkit-scrollbar-track {
    background-color: lightslategray;
}


body {
    background-color: var(--headersearch-color);
    overflow: hidden;
}

span[class^=icon] {
    padding: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s ease-in-out;
}

.container {
    display: none;
    width: 100%;
    background-color: var(--headersearch-color);
}

/* Header */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    display: flex;
    align-items: center;
    z-index: 999;
}

.header.headerxxhd {
    backdrop-filter: blur(10px);
    background-color: var(--header6-color);
}

.road {
    margin-left: 5vw;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.road h4 {
    margin-left: 1vw;
    font-family: YouYuan;
}

.road h4 a {
    padding: 0 10px;
    color: var(--cb-color);
    position: relative;
    display: flex;
    justify-content: center;

}

.road h4 a::before {
    content: '';
    position: absolute;
    bottom: -5px;
    height: 3px;
    width: 0%;
    background-color: var(--cb-color);
    transition: .3s ease-in-out;
}

.road h4:nth-child(1):hover>a>span {
    color: var(--header1-color);
}

.road h4:nth-child(2):hover>a>span {
    color: var(--header2-color);
}


.road h4:nth-child(3):hover>a>span {
    color: var(--header3-color);
}

.road h4:nth-child(4):hover>a>span {
    color: var(--header4-color);
}

.road h4:nth-child(5):hover>a>span {
    color: var(--header5-color);
}


.road h4:hover a::before {
    width: 100%;
}

.interact {
    height: 100%;
    display: flex;
    margin-right: 5vw;
}

.interact div {
    margin: 0 1vw;
}

.interact-search {
    width: 25px;
    height: 25px;
}

.interact-search:hover>span {
    transform: rotateY(180deg);
}

.icon-magnifying-glass,
.icon-sun1,
.icon-user1,
.interact-search,
.icon-moon {
    color: var(--cb-color);
    font-size: 25px;
    cursor: pointer;
}

span.icon-sun1 {
    color: var(--header3-color);
}

span.icon-moon {
    display: none;
    color: var(--header1-color);
}

.interact-time {
    width: 35px;
    height: 25px;
    position: relative;
}

.interact-time span {
    position: absolute;
}

.interact-user:hover>a>span {
    animation: shake-smail .7s ease-in-out;
}

/* Search */

.search {
    display: none;
    margin-top: 1874px;
    position: fixed;
    width: 100vw;
    height: 1000vh;
    background-color: var(--cb-color);
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 999999999;
}

.search-co {
    margin: 70px auto;
    display: flex;
    width: 80%;
    position: relative;
    z-index: 888888;
}

.search-co input {
    flex: 1;
    height: 40px;
    border-radius: 20px;
    outline: none;
    text-indent: 1vw;
    font-size: 20px;
    font-family: nailao;
    font-weight: bold;
    border: 3px solid var(--searchipt-color);
    color: var(--cb-color);
    background-color: transparent;
}

.icon-power {
    position: absolute;
    right: -6vw;
    top: -50px;
    cursor: pointer;
    font-size: 30px;
    color: var(--cb-color);
}

.icon-point-left {
    margin-left: -40px;
    font-size: 20px;
    cursor: pointer;
    color: var(--header4-color);
}

.search img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: .7;
    width: 100%;
    height: 100vh;
}

/* Banner */
.banner {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.banner ul li {
    width: 100%;
    height: 100%;
    position: absolute;
    animation: bnmove 6s ease-in infinite;
    display: none;
    justify-content: center;
}

.banner ul li:nth-child(1) {
    display: block;
}

.bannertp {
    width: 100%;
    height: 100%;
    display: flex;
}

.banner ul li img {
    width: 100%;
}

/* asdasdasasd */
.bannergt {
    width: 55%;
    text-align: center;
    position: absolute;
    left: 50%;
    font-family: nailao;
    color: var(--cb-color);
    transform: translate(-50%, -180%);
    font-size: 3vw;
    font-weight: bold;
    letter-spacing: 5px;
}

.banner-bt {
    top: 100%;
    line-height: 100px;
}

.banner .mbanner {
    display: block;
}

.banner .rmbanner {
    display: none;
}

.bannertzxyy {
    display: none;
    text-align: center;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: var(--cb-color);
    font-size: 6vw;
    animation: downmove 2s ease-in-out infinite;
    cursor: pointer;
}

/* article */

.article {
    width: 100%;
    position: relative;
    margin-top: 100px;
}

.article-bt {
    position: relative;
    margin: 0 auto;
    width: 90%;
    color: transparent;
    -webkit-text-stroke: 1px var(--header4-color);
}

.btwz {
    margin-bottom: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 420px;
    height: 230px;
    background-color: #ffa07ac0;
    transform-style: preserve-3d;
    transition: .5s;
    transform: rotateZ(-5deg);
}

.btwz::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border: 7px solid black;
    background-color: transparent;
    transition: .5s;
    transform: rotateZ(8deg) rotateY(-30deg);
}

.btwz span {
    font-size: 50px;
    font-weight: bold;
}

.btwz:hover {
    transform: none;
}

.btwz:hover::before {
    transform: none;
}

.articlezs {
    position: absolute;
    top: -100px;
    right: 400px;
    width: 200px;
    height: 180vh;
    background: -webkit-linear-gradient(top, #86ddff, #f08a62, #dbd94b);
}

.articlezs2 {
    position: absolute;
    top: 90px;
    right: 0px;
    width: 20%;
    height: 35px;
    background-color: paleturquoise;
}

.articlezs2::before {
    content: '';
    position: absolute;
    top: -100px;
    right: 0px;
    width: 20%;
    height: 35px;
    background-color: paleturquoise;
}

.articlemin {
    position: relative;
    margin: 45px auto 0;
    width: 90%;
    height: 600px;
    border-top: 1px solid var(--header4-color);
    border-bottom: 1px solid var(--header4-color);
    box-shadow: 0px 0px 12px 1px #000;
}

.articleleft {
    position: relative;
    transform: translateY(500px);
    transition: all .6s ease-in-out;
    width: 60%;
    opacity: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 2vw;
    overflow: hidden;
}

.articlezs3 {
    position: absolute;
    bottom: -150px;
    left: -50px;
    width: 300px;
    height: 300px;
    transform: rotate(45deg);
    border: 20px solid coral;
    z-index: -1;
    animation: shake-smail 30s ease-in-out infinite;
}

.articleminbt {
    display: flex;
    margin-bottom: 10px;
}

.articleminbt h4 {
    display: inline-block;
    font-size: 7vw;
}

.articleminbt span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
    line-height: 3vw;
    color: transparent;
    -webkit-text-stroke: 2px var(--header4-color);
    font-family: nailao;
}

.articleminneirong1 span {
    display: block;
    text-indent: 15px;
    font-size: 2vw;
    color: #8a8888;
    z-index: 999;
}

.articleminneirong1 .neirongend1 {
    text-align: right;
}

.articletp {
    position: absolute;
    width: 530px;
    height: 110%;
    right: 0;
    border: 10px solid #ebb44ef5;
    overflow: hidden;
    top: -5%;
}

.articletp img {
    height: 100%;
    transform: translateX(-15%);
    transition: transform .9s ease-in-out;
}

.articletp:hover>img {
    transform: translateX(-15%)scale(1.1);
}

.articlezs-articleminh {
    width: 100%;
    margin-top: 200px;
    /* margin-bottom: 300vh; */
    position: relative;
}

.articleminhzsh {
    height: 400px;
}

.articleminhzsh img {
    position: absolute;
    left: 0;
    top: 0;
    height: 400px;
    z-index: 99;
}

.articlezszsh {
    position: absolute;
    left: 400px;
    width: 200px;
    height: 700px;
    background-color: #4dc999;
}

.articleaboutme {
    width: 100%;
    height: 300px;
}

.articleaboutme {
    margin-top: 100px;
    display: flex;
    justify-content: flex-end;
    width: 73%;
    position: relative;
}

.article-bt.by2 {
    width: 0;
    margin: 0;
    right: 0;
}

.btwz.by2 {
    background-color: #9fb7ef;
}

.article-bt.by2 span {
    letter-spacing: 10px;
}

.articlecommunity {
    margin: 0 auto;
    margin-top: 120px;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: flex-end;
    position: relative;
}


div[class^=articlecommunityzdc] {
    position: absolute;
    height: 35px;
    left: 0;
    background-color: #5bdabe;
}

.articlecommunityzdc1 {
    top: -130px;
    width: 30%;
}

.articlecommunityzdc2 {
    top: 0;
    width: 10%;
}

.articlecommunityzs1 {
    position: absolute;
    top: 60px;
    left: 20px;
    width: 400px;
    height: 600px;
}

.articlecommunityzs1 img {
    height: 100%;
}

.community {
    width: 60%;
    height: 100%;
    box-shadow: 0px 0px 12px 1px #000;
    background-color: #222222;
    display: flex;
    justify-content: center;
}

.community>div {
    flex: 1;
    width: 50%;
}

.communitybt {
    display: flex;
    justify-content: center;
    align-items: center;
}

.communitybtbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.communitybtbox span {
    color: var(--cb-color);
}

.communitybtbox span:nth-child(1) {
    margin-left: 80px;
    font-size: 80px;
}

.communitybtbox span:nth-child(2) {
    font-size: 60px;
}

.member {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.member ul {
    margin-left: 30px;
    width: 279px;
    height: 240px;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
}

.member ul li {
    width: 60px;
    margin: 0 10px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
}

.member ul li:nth-last-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    font-size: 40px;
}

.member ul li img {
    width: 100%;
    height: 100%;
    transition: all .4s ease-in-out;
}

.member ul li:hover>img,
.member ul li:hover>span {
    transform: scale(1.2);
}

.articlework {
    width: 100%;
    margin-top: 40vh;
    height: 400px;
    background-color: palegoldenrod;
}

@keyframes bnmove {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
    }
}

@keyframes shake-smail {
    0% {
        transform: rotate(0deg);
    }

    15% {
        transform: rotate(-15deg);
    }

    30% {
        transform: rotate(15deg);
    }

    45% {
        transform: rotate(-25deg);
    }

    60% {
        transform: rotate(25deg);
    }

    75% {
        transform: rotate(-15deg);
    }

    90% {
        transform: rotate(15deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes downmove {
    0% {
        transform: translate(-50%, 0px);
    }

    50% {
        transform: translate(-50%, 15px);
    }

    100% {
        transform: translate(-50%, 0px);
    }
}

/* 其他 */