* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-collapse: collapse;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(161, 100, 223);
    flex-wrap: wrap;
}

.project_previous,
.project_next {
    position: absolute;
    text-transform: uppercase;
    bottom: 1vw;

}

.project_previous {
    left: 1vw;
}

.project_next {
    right: 1vw;
}

.project_next a,
.project_previous a {
    text-decoration: none;
    color: #555;
}

.btn {
    background-color: rebeccapurple;
    border-radius: 5px;
    border: none;
    color: #fff;
    margin: 1rem;
    padding: 1.5rem 3rem;
    font-size: 1.2rem;
    font-family: inherit;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.9;
}

.btn:focus {
    outline: none;
}